<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Contato</title>
</head>
<body>
    <h1>Página de Contato</h1>
    <address>
        <dl>
            <dt>Nome:</dt>
            <dd><%= contactData.name %></dd>
            <dt>E-mail:</dt>
            <dd><%= contactData.email %></dd>
            <dt>Telefone:</dt>
            <dd><%= contactData.phone %></dd>
        </dl>
    </address>
</body>
</html>